@model IEnumerable<FootFetish.Models.Product>
@using System
@inject FootFetish.Data.ApplicationDbContext _context

@{
    ViewData["Title"] = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var categories = ViewBag.Categories as List<FootFetish.Models.Category>;
    var allCats = _context.Categories;
    List<string> catNames = new List<string>();
}

<h1>Products</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ImageUrl)
            </th>
            <th>
                Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if(catNames.Count > 0)
            {
                catNames.Clear();
            }
            @foreach (var catid in item.CategoryIds)
            {

                @foreach (var category in allCats)
                {
                    @if (category.CategoryId == catid)
                    {
                        catNames.Add(category.Name);
                    }
                }

            }
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    BGN @Html.DisplayFor(modelItem => item.Price, "{0:C}")
                </td>
                <td>
                    <img src="@item.ImageUrl" alt="@item.Name" style="max-width:100px; max-height:100px;" />
                </td>
                <td>
                    @foreach (var cat in catNames)
                    {
                        <p>@cat</p>
                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-warning">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>